doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='./favicon.ico')
    //- Settings for webapp install
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    //- non-retina iPhone vor iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_57.png' sizes='57x57')
    //- non-retina iPad vor iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_72.png' sizes='72x72')
    //- non-retina iPad iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_76.png' sizes='76x76')
    //- retina iPhone vor iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_114.png' sizes='114x114')
    //- retina iPhone iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_120.png' sizes='120x120')
    //- retina iPad vor iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_144.png' sizes='144x144')
    //- retina iPad iOS 7
    link(rel='apple-touch-icon', href='images/app_icon_152.png' sizes='152x152')
    //- Android
    //- link rel='shortcut icon', href='196x196.png' sizes='196x196'
    //- Settings for webapp install
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js", defer)
    script(src="javascripts/leaflet-ajax-min.js", defer)
    script(src="javascripts/leaflet-providers.js", defer)
    script(src="javascripts/us-states.js", defer)
  body
    block content
